<a href="#/home/"><img src="img/logo-vangilst.png" class="img-responsive" alt="Logo Van Gilst Übersetzungen">
</a>
<ul class="navbar">
  <li><a href="./#/word-to-line-rates/">HOME</a>
  </li>
  <li><a href="./#/stats/">STATS</a>
  </li>
  <li><a href="features.html">FEATURES</a>
  </li>
  <li><a href="https://twitter.com/vnglst">@vnglst</a>
  </li>
</ul>

<ul class="links">
  Other tools
  <li><a href="./#/word-to-line-rates/">Words to lines <span class="glyphicon glyphicon-play" aria-hidden="true"> </span></a>
  </li>
  <li><a href="./#/line-to-word-rates/">Lines to words <span class="glyphicon glyphicon-play" aria-hidden="true"> </span></a>
  </li>
</ul>
